
# -------------------------
# Node
# -------------------------
node_modules/

# -------------------------
# Environment
# -------------------------



# -------------------------
# IDE settings
# -------------------------
.vscode/
.idea/
