
# -------------------------
# Node
# -------------------------
node_modules/

# -------------------------
# Environment
# -------------------------
.env
.env.local
.env.*.local

# -------------------------
# IDE settings
# -------------------------
.vscode/
.idea/
